/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* Header Section */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 1% 10%;
  padding-bottom: 3%;
}
/* Navbar Section  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h3 {
  color: #131313;
  font-size: 180%;
  font-weight: 700;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul a {
  font-size: 100%;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
}
nav ul a:hover {
  color: #ff900e;
  transition: 0.3s;
}
.nav-list {
  margin-right: 50px;
}

/* Banner Section */
.banner {
  margin-top: 5rem;
  text-align: center;
}
.banner-title {
  font-size: 350%;
  color: #131313;
  margin-bottom: 1rem;
}
.banner-description {
  color: #727272;
  line-height: 150%;
  margin-bottom: 3%;
}
.banner-image {
  width: 100%;
}
.banner-btn {
  color: white;
  border: none;
  font-size: 100%;
  font-weight: 500;
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  margin-bottom: 5%;
  cursor: pointer;
}
.banner-btn:hover {
  background-color: #995608;
  border: 2px solid #ff900e;
}

/* Features Section */
main {
  margin: 5% 10%;
}
.features-section {
  display: flex;
  gap: 5%;
  align-items: center;
}
.features-image {
  width: 100%;
}
.features-left {
  display: grid;
  gap: 2%;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
}
.features-right {
  flex: 1;
}
.feature-title {
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 1rem;
}
.feature-light {
  color: #727272;
  font-weight: 500;
}
.feature-span {
  color: #ff900e;
}
.feature-description {
  line-height: 150%;
  margin-bottom: 1rem;
  max-width: 100%;
}
/* Responsive Styles */
/* Mobile Devices */
@media screen and (max-width: 576px) {
  /* Header */
  header {
    padding: 5% 3%;
  }
  /* Navbar */
  nav {
    flex-direction: column;
  }
  nav h3 {
    margin-bottom: 5%;
  }
  /* Banner */
  .banner-title {
    font-size: 235%;
  }
}
/* Tablet Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
}
